
<div id="loginForm" class="container-md m-3 p-3">
    <div class="row">
        <div class="col">
            <div class="display-6">
                Login
            </div>
            
            <form action="/api/users/login" method="post">
            <div class="input-group flex-nowrap mb-3">
            <p class="h3">Username</p>
            <input class="form-control" id="username-login" name="username" type="text"/>
            </div>
            <p class="h3">Password</p>
            <input class="form-control" id="password-login" name="password" type="text"/>
            </div>
            <div class="col-auto">
            <button type="submit" id="submitLogin-Btn" class="btn btn-info mb-3">Login</button>
        </div>
            </form>
            <a href="/signup">No Account? Sign Up!</a>
        </div>
    </div>
</div>

<script src="/js/login.js"></script>